rai_microrts_saved_models/* filter=lfs diff=lfs merge=lfs -text
rai_microrts_saved_models/** filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
lux_models/** filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.sty filter=lfs diff=lfs merge=lfs -text
*.bst filter=lfs diff=lfs merge=lfs -text
